<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Jetson nano - Fan </title>

	<!-- stylesheets -->
	<link href="/templates/assets/fonts/font-roboto.css" rel="stylesheet">
	<link href="/templates/assets/bootstrap/bootstrap4-alpha3.min.css" rel="stylesheet">
	<link href="/templates/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="/templates/assets/web-analytics/style.css" rel="stylesheet">

	<!-- scripts -->
	<script src="/templates/assets/jquery/jquery-3.1.0.min.js"></script>
	<script src="/templates/assets/tether/tether.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	<script src="/templates/assets/bootstrap/bootstrap4-alpha3.min.js"></script>
	<!--<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>-->
        <script src="/templates/assets/canvasjs.min.js"></script>
	<!--<script src="/templates/assets/web-analytics/jetson-psutil.js"></script>-->
        <script type = "text/javascript" >
	
	window.onload = function () {
		//document.body.style.backgroundColor = "gray";
                
		$.get('/deviceip', function(data) {
   		        
			var select = document.getElementById("deviceip_select");
			var optval = $("#deviceip_select>option").map(function() { return $(this).val(); }).get();			
			if (optval.length <  data.device_ip.length){
				$("#deviceip_select").empty();
				var opt = document.createElement('option');
				opt.innerHTML = "IP Address";
				select.appendChild(opt);
			       		for (i=0;i < data.device_ip.length;i++){
						opt = document.createElement('option');
						opt.value = data.device_ip[i];
						opt.innerHTML = data.device_ip[i];
						select.appendChild(opt);
					}
				}

			});

		};
		function get_value() {
		
		//var socket = io.connect();
		//socket.removeAllListeners();
		var ip_adr = document.getElementById("deviceip_select").value;
		var fan_bt = document.getElementById("fan_bt");
		var reset_bt = document.getElementById("reset_bt");
		var bytes= 1; 
  		var aBuffer = new ArrayBuffer(bytes);
		function sleep (time) {return new Promise((resolve) => setTimeout(resolve, time));}
		
		//fan_button
    		fan_bt.onclick=function(){
		console.log("check");
		var ws = new WebSocket("ws://"+ip_adr+":3000/");
			sleep(500).then(() => {
			var fan_speed = document.getElementById("fan_speed").value;
			if (ws.readyState===1) {
				console.log("check2");
				ws.send(fan_speed);
				ws.close();
				alert("Success adjust fan");
			}
			})               
		}



		//reset_button
		reset_bt.onclick=function(){

		var ws = new WebSocket("ws://"+ip_adr+":3000/");
			sleep(500).then(() => {			
			if (ws.readyState===1) {
				ws.send(aBuffer);
				ws.close();
				alert("Success Reset");
			}
			})               
		}


	}
	</script>
        
<style>
input[type="button"] {
 background: #2a0a45;
  background-image: -webkit-linear-gradient(top, #2a0a45, #b82bb8);
  background-image: -moz-linear-gradient(top, #2a0a45, #b82bb8);
  background-image: -ms-linear-gradient(top, #2a0a45, #b82bb8);
  background-image: -o-linear-gradient(top, #2a0a45, #b82bb8);
  background-image: linear-gradient(to bottom, #2a0a45, #b82bb8);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  padding: 3px 15px 3px 20px;
  text-decoration: none;
}

input[type="button"]:hover {
   background: #3cfca6;
  background-image: -webkit-linear-gradient(top, #3cfca6, #3498db);
  background-image: -moz-linear-gradient(top, #3cfca6, #3498db);
  background-image: -ms-linear-gradient(top, #3cfca6, #3498db);
  background-image: -o-linear-gradient(top, #3cfca6, #3498db);
  background-image: linear-gradient(to bottom, #3cfca6, #3498db);
  text-decoration: none;
}
</style>


</head>

<body>
	<!-- header -->
	<nav class="navbar navbar-fixed-top" id="header">
		<div class="container-fluid">
			<div class="navbar-header">
				<div id="sidebar-toggle-button">
					<i class="fa fa-bars" aria-hidden="true"></i>
				</div>
				<div class="brand">
					<a href="web-analytics-real-time.html">
						<span class="hidden-xs-down m-r-3">NVIDIA Jetson nano - Remote Control </span>
					</a>
				</div>

			</div>
		</div>
	</nav>
	<!-- /header -->

	<!-- sidebar -->

	<div class="sidebar-toggle" id="sidebar">
		<ul class="nav nav-sidebar">
			<li>
				<a href="/psutil-nano" class="active">
					<i class="fa fa-area-chart fa-lg fa-fw" aria-hidden="true"></i>
					<span>Real time</span>
				</a>
			</li>

			<li role="separator" class="divider"></li>
			<li>
				<a href="/ws-control">
					<i class="fa fa-cogs fa-lg fa-fw" aria-hidden="true"></i>
					<span>Remote Control</span>

				</a>

			</li>

			<li role="separator" class="divider"></li>
			<li>
				<a href="/history-nano">
					<i class="fa fa-bar-chart fa-lg fa-fw" aria-hidden="true"></i>
					<span>History info</span>

				</a>

			</li>
			<li role="separator" class="divider"></li>
			<li>
				<a href="/logout">
					<i class="fa fa-sign-out fa-lg fa-fw" aria-hidden="true"></i>
					<span>Log out</span>

				</a>

			</li>
			<li role="separator" class="divider"></li>

		</ul>

	</div>

	<!-- /sidebar -->


	

	<!-- page-content-wrapper -->
	<div class="page-content-toggle" id="page-content-wrapper">
		<div class="container-fluid">
			<div class="row m-b-2">
				<div class="col-lg-6" "><br>
					<div >
						<span style="font-size:30px">Choose device</span> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
						<select class="deviceip-select" id="deviceip_select" onchange="get_value();">
							
							
						</select>
						

					</div>
				</div>
			</div>
			<!-- 1st row -->
			<div class="row m-b-2">
				<div class="col-lg-12" style="height:300px;">
					<div class="card card-block">
						<h4 class="card-title">FAN Speed</h4>
						<div id="fanchart"></div>
					</div>				
					<div class="col-lg-12" style="top:20px;">
						<input type="text" id ="fan_speed" name="content" placeholder="輸入轉速(0 ~ 255)" value=""/><br><br>
        					<input type="button" id="fan_bt"  value="Adjust" />
					</div>

				</div>

				<div class="col-lg-12">
					<div class="card card-block">
						<h4 class="card-title">Reset system</h4>
					</div>
						<div class="col-lg-12" style="top:10px;">
							<div  >
							<input type="button" id="reset_bt"  value="Reset Nano!" />
							</div>
						</div>
					
				</div>
				
			</div>
			<!-- /1st row -->

 






		</div>
		<!-- /.container-fluid -->

	</div>
	<!-- /page-content-wrapper -->

</body>

</html>
